#pick-song {
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-y: -150px;
    background-position-x: center
}

#pick-song .pick-song-widget{
    overflow-y: scroll;
    width: 100%;
}

#pick-song .pick-song-wrapper{
    display: flex;
    width: max-content;
}

#pick-song .pick-title {
    padding: 0 var(--ion-padding);
}

#pick-song .pick-song-played {
    margin-bottom: 2em;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-y: 19%;
    background-position-x: -100px;
}

/* Song */
#song {
    text-align: center;
}

#song .song-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#song p.song-name {
    margin-top: 0;
    width: 10.5em;
}

#song .song-img {
    background-size: cover;
    background-position: center;
    height: 12em;
    width: 8.5em;
    border-radius: 0.5em;
    box-shadow: 4px 4px 20px -8px rgba(0,0,0,0.7);
    margin: 1em;
}
